.root
  background-color #95939366
  padding 4u

.text
  text-align center
  &.red
    color #cd002c

.pic
  width 30px
  height 60px

.imageDescription
  margin-left 2u
  flex 1
  align-items flex-start

.contentEvent
  margin-top 4u

.titleText
  text-align center
  color #5d6066
  &.red
    color #cd002c

.descriptionText
  text-align left
  color #5d6066