.image
  margin-top 4u
  width 100%
  height 65

.text
  text-align center
  &.red
    color #cd002c

.cardDiv
  background-color #ffffff

.flexIcon
  width 20%

.iconCard
  margin-top 4u
  padding-top 4u
  padding-bottom 4u
  background-color #c6bebe66